html {
  scroll-behavior: smooth;
}
/* header */
header {
  height: 100vh;
  background: linear-gradient(rgba(0,0,0,0.5), rgba(0,0,0,0.7)), url(image/hero.jpg) no-repeat center;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
}

/* banner */
.banner {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%,-50%);
  width: 80%;
}

@media (min-width: 356px) {
  .banner {
    width: 100%;
  }
}
@media (min-width: 576px) {
  .banner {
    width: 90%;
  }
}

/* mission */
/* .mission {
  background-color: #151f20;
} */
.underline {
  width: 150px;
  border: 2px solid white;
  margin: auto;
}

/* collection */
.card-shadow {
  box-shadow: 5px 8px 20px #333;
}
.heading {
  position: absolute;
  top: 70%;
  right: 0;
  font-size: 0.8rem;
  letter-spacing: 1.5;
  background: #222;
  width: 60%;
  opacity: 0.7;
  transition: all 0.5s;
  text-align: center;
}
.heading:hover {
  opacity: 1;
}

/* Gallery */
.underline-dark {
  width: 150px;
  border: 2px solid #6c757d;
  margin: auto;
}
.active-item {
  color: #179ae6;
}
.gallery ul li {
  cursor: pointer;
}

/* customer */
#customer {
  background-color: #151f20;
}

/* pricing */
.card-1,
.card-2,
.card-3 {
  height: 100%;
  background: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.7)),
  url(image/pricing.jpg) no-repeat center;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
}
.card-list-item {
  border-bottom: 1px groove #eee;
  width: 50%;
  margin: auto;
}

.btn {
  display: inline-block;
  padding: 0.3rem 1.3rem;
  background-color: #f5593d;
  border-radius: 25px;
  text-align: center;
  transition: all 0.3s ease-in;
}
.btn:hover {
  background-color: #f9793d;
  transform: translateY(-2px);
}