html {
  scroll-behavior: smooth;
}

/* header */
header {
  height: 100vh;
  background: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.7)), url(image/hero.webp) no-repeat center;
  background-size: cover;
}

/* banner */
.banner {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 80%;
}

@media (min-width: 356px) {
  .banner {
    width: 100%;
  }
}

@media (min-width: 576px) {
  .banner {
    width: 90%;
  }
}

.underline {
  width: 150px;
  border: 2px solid white;
  margin: auto;
}

/* collection */
.card-shadow {
  box-shadow: 5px 8px 20px #333;
}

.heading {
  position: absolute;
  top: 70%;
  right: 0;
  font-size: 0.8rem;
  letter-spacing: 1.5;
  background: #222;
  width: 60%;
  opacity: 0.7;
  transition: all 0.5s;
  text-align: center;
}

.heading:hover {
  opacity: 1;
}

/* Gallery */
.underline-dark {
  width: 150px;
  border: 2px solid #6c757d;
  margin: auto;
}

.active-item {
  color: #179ae6;
}

.gallery ul li {
  cursor: pointer;
}

/* customer */
#customer {
  background-color: #151f20;
}

/* pricing */
.card-1,
.card-2,
.card-3 {
  height: 100%;
  background: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.7)),
    url(image/pricing.webp) no-repeat center;
  background-size: cover;
}

.card-list-item {
  border-bottom: 1px groove #eee;
  width: 50%;
  margin: auto;
}

.btn-circle {
  display: inline-block;
  padding: 0.3rem 1.3rem;
  background-color: #f5593d;
  border-radius: 25px;
  text-align: center;
  transition: all 0.3s ease-in;
}

.btn-circle:hover {
  background-color: #f9793d;
  transform: translateY(-2px);
}

/* contact */
#contact {
  height: 100%;
  background: linear-gradient(105deg, rgba(21, 31, 32, 1) 0%, rgba(21, 31, 32, 0.9)50%,
      transparent 50%), url(image/contact.webp) no-repeat center;
  background-size: cover;
}

.btn-submit {
  background-color: #f5593d;
  color: white;
}

.btn-submit:hover {
  background-color: #f9793d;
  color: #fff;
}

.input {
  background: transparent;
  border: transparent;
  border-bottom: 2px solid #ccc;
  border-radius: 0;
}

.input:focus {
  background: transparent;
  border: transparent;
  box-shadow: none;
  color: #fff;
  border-bottom: 2px solid #f5593d;
}

.lebel {
  color: #777;
  display: block;
  margin-top: -60px;
  margin-left: 4px;
  font-size: 0.8rem;
  transition: all 0.3s;
}

.input:placeholder-shown + .lebel {
  transform: translate(20px, 20px);
  opacity: 0;
  visibility: hidden;
}

@media (max-width: 992px) {
  #contact {
    background: linear-gradient(rgba(21, 31, 32, 1), rgba(21, 31, 32, 0.9));
  }

  #contact h1 {
    text-align: center;
  }

  .contact-form {
    width: 80%;
    margin: auto;
  }
}

/* footer */
.footer-link {
  color: #eee;
  font-size: 0.8rem;
  transition: all 0.3s;
}
.footer-link:hover {
  color: #70aed2;
  text-decoration: none;
}
.facebook,
.linkedin,
.twitter,
.github,
.codepen {
  transition: all 0.5s;
}
.facebook:hover {
  color: #0084ff;
}
.linkedin:hover {
  color: #0077B5;
}
.twitter:hover {
  color: #55acee;
}
.github:hover {
  color: #9CDAF1;
}
.codepen:hover {
  color: #228B22;
}